.u-legend.u-inline .u-value {
    width: 150px;
    text-align: left;
}

.uplot {
    background-color: #111216;
    width: 100%;
    margin-bottom: 32px;
    border-radius: 10px;
}

.u-label, .u-value, .u-title {
    color: #c3c7cf;
}

.u-series {
    color: #e6ebf2;
    font-size: small;
}

.u-legend.u-inline .u-value {
    width: 100px;
}

.u-series {
    font-size: small;
}
