{% extends "../base.html" %}
{% block content %}

{% if restore %}
<div class="row">
	<div class="col-md-12">
		<div class="alert alert-warning"><span
			class="glyphicon glyphicon-exclamation-sign"></span><translate> Deleted jobs will be removed within 30 days</translate></div>
	</div>
</div>
{% endif %}

<div class="jobs-toolbar">
	<div class="jobs-toolbar-left">
		<h2>
			{% if !restore %}<span translate>Jobs</span>{% else %}<span translate>Deleted Jobs</span>{% endif %}
		</h2>

		{% if !restore %}
		<div class="jobs-toolbar-actions">
			<a class="btn btn-default tip" href="/plate/add" role="button">
				<span class="glyphicon glyphicon-plus"></span><translate>New Job</translate>
				<translate class="hide">Add a new job</translate>
			</a>

			<a class="btn btn-default tip" href="/custom/calibration" role="button">
				<img src="/static/general/calibration-icon.svg" alt="Icon" width="16" height="16">
				<translate>Exposure Calibration</translate>
				<translate class="hide">Open exposure calibration</translate>
			</a>

			<div class="btn-group">
				<button type="button" class="btn btn-default tip dropdown-toggle svg"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
						title="" data-original-title="More">
					{{ icon(list_icon) }} <translate class="hide">More options</translate>
				</button>
				<ul class="dropdown-menu">
					<li>
						<a href="/plates/delete" class="ask" data-ask="deleteall-confirm">
							<span class="glyphicon glyphicon-trash"></span> &nbsp;
							<translate>Move all jobs to trash</translate>
						</a>
					</li>
					<li>
						<a href="/plates/restore">
							<span class="glyphicon glyphicon-trash"></span> &nbsp;
							<translate>View trash</translate>
						</a>
					</li>
				</ul>
			</div>
		</div>
		{% endif %}
	</div>

	{% if !restore %}
	<div class="jobs-toolbar-search">
		<div class="input-group">
			<select id="plates-profile-search" class="form-control">
				<option value="" translate>Filter by Resin Profile</option>
				{% for row in profiles %}
					<option value="{{row.ProfileID}}">{{row.Title}}</option>
				{% endfor %}
			</select>
			<span class="input-group-btn">
				<button class="btn btn-default hide" type="button" id="clear-profile-filter" title="Clear filter">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>

		<div class="input-group">
			<input id="search" placeholder="Search Jobs" class="form-control compact-input">
			<span class="input-group-btn">
				<button class="btn btn-default hide" type="button" id="clear-search" title="Clear search">
					<span class="glyphicon glyphicon-remove"></span>
				</button>
			</span>
		</div>
		<translate class="hide">Search Jobs</translate>
	</div>
	{% endif %}
</div>

<div class="row">
	<div class="col-md-12">
		{% if freeSpace < 1000 && freeSpace>0 %}
		<div class="alert alert-danger" translate>Free space available on your disk is low. Please, remove unused jobs or expand the partition.
		</div>
		{% endif %}
	</div>
</div>

<div id="plates-list">
	{% include "list.html" %}
	</table>
</div>
<br>
<br>

<div id="emmc-freespace-container">
<span class="glyphicon glyphicon-hdd"></span>
<span id="emmc-freespace-text"><translate>Free Disk Space</translate></span>: <span id="emmc-freespace-value">{{freeSpace}}MB</span>
</div>

<div id="ssd-freespace-container" class="hidden">
	<span class="glyphicon glyphicon-hdd"></span>
	<span id="ssd-freespace-text"><translate>Free Disk Space</translate></span>: <span id="ssd-freespace-value">{{freeSpace}}MB</span>
</div>
<br>
<br>
<br>

{% endblock %}
